[submodule "src/deps/remill"]
	path = src/deps/remill
	url = https://github.com/lifting-bits/remill
[submodule "src/deps/xorstr"]
	path = src/deps/xorstr
	url = https://github.com/JustasMasiulis/xorstr
